<div ng-controller="trafficAnalyticsCtrl">

    <div class="w3-container w3-blue">
        <h1 align="center">ANALYTICS</h1>
    </div>

    <div style="text-align: center; padding-top: 50px; width: 80%; margin: auto">
        <div>
            <form ng-submit="showSecondPanel()">
                <label for="multipleSelect"> Select a crossroad: </label><br>
                <select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="dataSelected">
                    <option selected="selected">none</option>
                    <option ng-repeat="x in crossroads" value="{{x.id}}">{{x.id}}</option>
                </select><br>
                <div style="text-align: center"><input class="btn btn-success btn-lg" type="submit" id="checkCrossroadButton" value="Check Crossroad"/></div>
            </form>


            <form ng-submit="getSemaphoreStatistics()" style="text-align: center; display: none" id="secondForm">

                <label for="multipleSelect"> Select a Semaphore: </label><br>
                <select class="form-control" name="semaphoreSelect" id="semaphoreSelect" ng-model="semaphoreSelectData">
                    <option selected="selected">none</option>
                    <option ng-repeat="x in semaphores" value="{{x.id}}">{{x.id}}</option>
                </select><br>
                <!--<label>Crossroads selected: {{dataMultipleSelect}}</label>-->
                <div style="text-align: center"><input class="btn btn-success btn-lg" type="submit" id="submitsem" value="Retrieve Analytics"/></div>
            </form>
            <h3 style="padding-top: 30px; display: none" id="semaphoreTrafficHistoryID">Semaphore traffic history</h3>
            <canvas id="semaphoreHistory" width="800" height="200"></canvas>

            <h3 style="padding-top: 60px; display: none" id="allSemapohresQueuesID">General situation</h3>
            <canvas id="allSemapohresQueues" width="800" height="200"></canvas>

            <h3 style="padding-top: 30px; display: none" id="numberOfFailuresID">Semaphore Failures (minutes in a month)</h3>
            <canvas id="numberOfFailures" width="800" height="200"></canvas>
        </div>
    </div>
</div>