<div ng-controller="createCrossroadCtrl">

    <div class="w3-container w3-blue">
        <h1 align="center">ADD</h1>
    </div>

    <!--ADD CROSSROAD-->
    <div style="padding-top:20px">
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#addCrossroadCollapse" aria-expanded="false" aria-controls="addCrossroadCollapse" >
            Add Crossroad
        </button>
        <div id="addCrossroadCollapse" class="collapse container" style="padding-top: 15px">
            <form>
                <div class="form-group">
                    <label for="crossid">Crossroad ID:</label>
                    <input type="text" class="form-control" id="crossid" ng-model="cross.id">
                </div>
                <div class="form-group">
                    <label for="crossstreet">Crossroad Street:</label>
                    <input type="text" class="form-control" id="crossstreet" ng-model="cross.street">
                </div>
                <div class="form-group">
                    <label for="crossip">Crossroad IP:</label>
                    <input type="text" class="form-control" id="crossip" ng-model="crossIP">
                </div>
                <div style="text-align: center"><input class="btn btn-success btn-lg" type="submit" id="submitcross" value="Add Crossroad"/></div>
            </form>
        </div>
    </div>


    <!--ADD SEMAPHORE-->
    <div style="padding-top:20px">
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#addSemaphoreCollapse" aria-expanded="false" aria-controls="addSemaphoreCollapse" >
            Add Semaphore
        </button>
        <div id="addSemaphoreCollapse" class="collapse container" style="padding-top: 15px">
            <form ng-submit="sendSemaphore()">
                <div class="form-group">
                    <label for="semid">Semaphore ID:</label>
                    <input type="text" class="form-control" id="semid" ng-model="semID">
                </div>
                <div class="form-group">
                    <label for="semstreet">Semaphore Street:</label>
                    <input type="text" class="form-control" id="semstreet" ng-model="semStreet">
                </div>
                <div class="form-group">
                    <label for="semip">Semaphore IP:</label>
                    <input type="text" class="form-control" id="semip" ng-model="semIP">
                </div>

                <label for="multipleSelect"> Add to crossroads (CTRL+click to select more than one entry): </label><br>
                <select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="dataMultipleSelect" multiple>
                    <option selected="selected">none</option>
                    <option ng-repeat="x in cross" value="{{x.id}}">{{x.id}}</option>
                </select><br>
                <label>Crossroads selected: {{dataMultipleSelect}}</label>
                <div style="text-align: center"><input class="btn btn-success btn-lg" type="submit" id="submitsem" value="Add Semaphore"/></div>
            </form>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Alert!</h4>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

