<div ng-controller="View1Ctrl">

    <div class="w3-container w3-blue">
        <h1 align="center">ACTIVE CROSSROADS</h1>
    </div>

    <div class="container" ng-repeat="x in crossroads" align="center" style="padding:5px">
        <!--{{x}}-->
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#crossroadCollapse.{{x.crossroadID}}" aria-expanded="false" aria-controls="crossroadCollapse.{{x.crossroadID}}" style="padding:5px">
            {{x.crossroadID}} - {{x.street}}
            <!--{{x}}-->
        </button>
        <!--<a href="#crossroadCollapse" class="btn btn-success" data-toggle="collapse"></a>-->
        <div id="crossroadCollapse.{{x.crossroadID}}" class="collapse">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Semaphore ID</th>
                    <!--<th>Semaphore Street</th>-->
                    <!--<th>Semaphore Status</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="y in x.semaphores track by y.semaphoreID">
                    <td>{{ y.semaphoreID }}</td>
                    <!--<td>{{ y.street }}</td>-->
                    <!--<td>{{ y.state }}</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
